.overlay___invisible__ {
  background-color: #666;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.top_draggable, .bottom_draggable {
	cursor:move;
}

.status_bar {
	font-size:12px;
}
.status_bar input{
	font-size:12px;
}

.wired_frame {
	display:block;
	position:absolute;
	border:1px #000 dashed;
}

/**
 *  THEME mista
*/

.overlay_mista {
	background-color:#FFF;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}

.mista_wired_frame {
	background:#FFF;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;	
}

.mista_nw {
	background:transparent url(lighting/titlebar-left.png) no-repeat 0 0;			
	width:25px;
	height:26px;
}

.mista_n {
	background:transparent url(lighting/titlebar-center.png) repeat-x 0 0;			
	height:26px;
}

.mista_ne {
	background:transparent url(lighting/titlebar-right.png) no-repeat 0 0;			
	width:25px;	  
	height:26px;
}

.mista_w {
	background:transparent url(lighting/border-left.png) repeat-y top left;			
	width:6px;
}

.mista_e {
	background:transparent url(lighting/border-right.png) repeat-y top right;			
	width:6px;	  
}

.mista_sw {
	background:transparent url(lighting/border-bottom-left.png) no-repeat 0 0;			
	width:6px;
	height:6px;
}

.mista_s {
	background:transparent url(lighting/border-bottom.png) repeat-x 0 0;			
	height:6px;
}

.mista_se, .mista_sizer  {
	background:transparent url(lighting/border-bottom-right.png) no-repeat 0 0;			
	width:6px;
	height:6px;
}

.mista_sizer {
	cursor:se-resize;	
}

.mista_close {
	width:25px;
	height:18px;
	background:transparent url(lighting/button-close.png) no-repeat 0 0;			
	position:absolute;
	top:1px;
	right:10px;
	cursor:pointer;
	z-index:1000;
}

.mista_maximize {
	width:25px;
	height:18px;
	background:transparent url(lighting/button-max.png) no-repeat 0 0;			
	position:absolute;
	top:1px;
	right:35px;
	cursor:pointer;
	z-index:1000;
}

.mista_minimize {
	width:25px;
	height:18px;
	background:transparent url(lighting/button-min.png) no-repeat 0 0;			
	position:absolute;
	top:1px;
	right:60px;
	cursor:pointer;
	z-index:1000;
}

.mista_title {
	float:left;
	height:14px;
	font-size:14px;
	font-weight:bold;
	font-family:Verdana, Arial, sans-serif;
	text-align:center;
	margin-top:2px;
	width:100%;
	color:#17385B;
}

.mista_content {
	overflow:auto;
	color:#000;
	font-family:Verdana, Arial, sans-serif;
	font-size:12px;
	background:#BFDBFF;
}

/* For alert/confirm dialog */
.mista_window {
	border:1px solid #F00;	
	background:#FFF;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
}

.mista_message {
  	font-size:12px;
	text-align:center;
	width:100%;
	padding-bottom:10px;
}

.mista_buttons {
	text-align:center;
	width:100%;
}

.mista_buttons input {
	border:1px solid #999;
	border-top-color:#CCC;
	border-left-color:#CCC;
	padding:2px;
	background-color:#FFF;
	color:#333;
	background-image:url(lighting/background_buttons.gif);
	background-repeat:repeat-x;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:center;
}

.mista_progress {
	float:left;
	margin:auto;
	text-align:center;
	width:100%;
	height:16px;
	background:transparent url(lighting/spinner.gif) no-repeat center center
}

/* FOR IE */
* html .mista_nw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//top-left-grey.png", sizingMethod="crop");
}

* html .mista_n {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//top-middle-grey.png", sizingMethod="scale");
}

* html .mista_ne {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//top-right-grey.png", sizingMethod="crop");
}

* html .mista_w {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//left-grey.png", sizingMethod="scale");
}

* html .mista_e {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//right-grey.png", sizingMethod="scale");
}

* html .mista_sw {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//bottom-left-grey.png", sizingMethod="crop");
}

* html .mista_s {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//bottom-middle-grey.png", sizingMethod="scale");
}

* html .mista_se, * html .mista_sizer {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//bottom-right-grey.png", sizingMethod="crop");
}

* html .mista_close {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//button-close-grey.png", sizingMethod="crop");
}

* html .mista_minimize {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//button-minimize-grey.png", sizingMethod="crop");
}

* html .mista_maximize {
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="themes/silverlight/windows/theme/lighting//button-maximize-grey.png", sizingMethod="crop");
}

* html .mista_content {
	background:#B8D7FF;
}
