.boxHeader{		
	background-image: url(../images/task.small.png);
	background-repeat: no-repeat;
	background-position:right center;
	border-bottom:5px double #CCC;
}

div#tabs label {
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	padding:0px;
	margin:0px;
	line-height: 15px;
	vertical-align: middle;
	border:0px solid black;
}
p {
	display: inline-table;
	padding:0px;
	height: 30px;
  	vertical-align: top;
  	border:0px solid black;
}
#tabs p {margin-top: -5px;}
input { color:#333; }
input.error, select.error{	background: #FDBFBF;}

