body, form {
	margin: 0px 0px;
	padding: 0px 0px;
  	background-color: #BCBCBC;
}
.forms{height:auto;/*chrome*/}

/********** MENU BOTONES **********/
table#buttons{
	float: right;
	margin: 5 5;
}

.boxHeader{
	background-color: #404040;
	width: 100%;
	height: 40px;
	background-repeat: no-repeat;
	background-position:right center;
	border-bottom:5px double #AAA;
}

.boxMenuButtons{
	margin: 0 2;
	padding: 3 10;
	height: 50px;	
	border:1px solid #AAA;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-ms-border-radius-bottomleft: 10px;
	-ms-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px; /*chrome*/
  	-webkit-border-bottom-right-radius: 10px; /*chrome*/
}

.boxMenuButton{
	width: 45px;/* Ppx vertical, auto horizontal */
	padding: 3 10;	
	/*border-right: 1px solid #AAA;*/
	float: left;
}

.boxMenuButtonOver{
	width: 45px;/* Ppx vertical, auto horizontal */
	padding: 3 10;	
	float: left;
	/*border-right: 1px solid #AAA*/;
	background-image: -moz-linear-gradient(  top, #D0FED0, #07E307 ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#07E307), to(#D0FED0) ); /* for Chrome + Safari */
	cursor:pointer;
}

.boxMenuImage {	
	text-align:center;	
	width: 1%;
	border: 0px;
}

.boxMenuTitle {
	text-align:center;	
	width: 1%;
	color: #000;
	font-weight: normal;
	font-family: verdana;
	font-size: 10px;
}

.title{
	padding-top:  10px;
	padding-left: 10px;
	color: #fff;
	font-weight: bold;
	font-family: verdana;
	font-size: 14px;
}

.titleB{
	padding-top:  10px;
	padding-left: 10px;
	color: #404040;
	font-weight: bold;
	font-family: verdana;
	font-size: 14px;
}

.boxHeader{
	background-color: #404040;
	width: 100%;
	height: 40px;
}

/********** LISTA DATOS **********/
.boxResultList {
	width: auto;
	margin: 5 2;
	border: 1px solid #AAA;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-ms-border-radius-bottomleft: 10px;
	-ms-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px; /*chrome*/
  	-webkit-border-bottom-right-radius: 10px; /*chrome*/
}

th.colIcon{
	background-image: -moz-linear-gradient(  top, #B9B9BD, #717276 ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#717276), to(#B9B9BD) ); /* for Chrome + Safari */
	color: #FFF;
	font-weight: normal;
	font-family: verdana;
	font-size: 12px;
	text-align:center;
	height: 30px;
}

th.colSort{
	background-image: -moz-linear-gradient(  top, #B9B9BD, #717276 ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#717276), to(#B9B9BD) ); /* for Chrome + Safari */
	color: #FFF;
	font-weight: bold;
	font-family: verdana;
	font-size: 12px;
	text-align:left;
	height: 30px;
	padding-right: 2px;
}

th.colNumber{
	background-image: -moz-linear-gradient(  top, #B9B9BD, #717276 ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#717276), to(#B9B9BD) ); /* for Chrome + Safari */
	color: #FFF;
	font-weight: bold;
	font-family: verdana;
	font-size: 12px;
	text-align:right;
	height: 30px;
	padding-right: 2px;
}

td.colIcon {
	font-weight: normal;
	font-family: verdana;
	font-size: 12px;
	text-align:left;
	border-top: 1px solid #FFF;
	padding: 2 5;
}

td.colSort {
	font-weight: normal;
	font-family: verdana;
	font-size: 12px;
	text-align:left;
	border-top: 1px solid #FFF;
	padding: 2 5;
}

td.colNumber{
	font-weight: normal;
	font-family: verdana;
	font-size: 12px;
	text-align:right;
	border-top: 1px solid #FFF;
	padding: 2 5;
}

tr.rowDataOff {
	height: 30px;
	background-color: none;	
}

tr.rowDataOn{
	height: 30px;
	background-image: -moz-linear-gradient(  top, #FEF6D4, #F6CD1A ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#F6CD1A), to(#FEF6D4) ); /* for Chrome + Safari */
	cursor: pointer;
}

/********** BLOQUE FILTROS **********/
.boxFilters{
	margin: 0 0;
}

fieldset.filter{
	border: 1px solid #AAA;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-ms-border-radius-bottomleft: 10px;
	-ms-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px; /*chrome*/
  	-webkit-border-bottom-right-radius: 10px; /*chrome*/
	margin: 2 2;
	padding: 2 10;
}

legend.filter {
	color: #404040;
	padding: 2px 6px;
	font-family: verdana;
	font-size: 10px;
}

td.filter{
	font-weight: normal;
	font-family: verdana;
	font-size: 10px;
	text-align:left;
	color: #404040;
}

td.field {
	font-weight: bold;
	font-family: verdana;
	font-size: 12px;
	text-align:left;
}

input.field {
	font-weight: normal;
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #000;
	margin: 2px;
	padding: 2px;
	border:1px dotted #404040;
}

select.field{
	font-weight: normal;
	font-family: verdana;
	font-size: 13px;
	text-align: left;
	color: #000;
	margin: 2px;
	padding: 2px;
	border:1px dotted #404040;
}

table.fields{
	width: 100%;
	font-weight: bold;
	font-family: verdana;
	font-size: 12px;
	text-align:left;
	padding: 2 2;
}

TR.fields{
	font-weight: bold;
	font-family: verdana;
	font-size: 12px;
}

TD.fields{
	width: auto;
	padding: 0 2;
	text-align:left;
}


A.ellink:link {text-decoration: none; color: #404040; font-size: 12px;}
A.ellink:visited {text-decoration: none; color: #404040; font-size: 12px;}
A.ellink:active {text-decoration: none; color: #404040; font-size: 12px;}
A.ellink:hover {text-decoration: underline; color: #000;}
IMG {
	border: 0px;
}

#tabs{
	margin: 5px 10px;
}

/********* FORMULARIOS *****/
input[type="text"], input[type="password"], SELECT, TEXTAREA {
	border: 1px outset #CCC;
	height: 23px;
	padding: 2px;
	
  	background-image: url(../images/background_strong.png);
	background-repeat: repeat; 
	
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;	
	box-shadow: 3px 3px 3px #888;
		
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

input[type="text"]:focus, input[type="password"]:focus {
	border: 1px inset #1A8ACC;
}

input[type="text"].disabled, SELECT.disabled, TEXTAREA.disabled {
	background: #F4F4F4;
	color: #000;
	border: 1px inset #FFF;
	
}

input[type="button"]{	
	border: 1px outset #404040;
	padding: 2 5;
	color: #FFF;
	font-weight: bold;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#7DC4F5), to(#1A8ACC) ); /* for Chrome + Safari */
    background-image: -moz-linear-gradient(  top, #7DC4F5, #1A8ACC ); /* for Firefox */

	box-shadow: 3px 3px 3px #888;
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type="button"].warn {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D03013), to(#E97966) ); /* for Chrome + Safari */
    background-image: -moz-linear-gradient(  top,#D03013, #E97966 ); /* for Firefox */
}	

input[type="button"].notity {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CCCFFF), to(#404040) ); /* for Chrome + Safari */
    background-image: -moz-linear-gradient(  top, #CCCFFF, #404040 ); /* for Firefox */
}

input[type="button"].event {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9DF6B), to(#F6CD1A) ); /* for Chrome + Safari */
    background-image: -moz-linear-gradient(  top, #F9DF6B, #F6CD1A ); /* for Firefox */
    color: #404040;
}

input[type="button"].disabled {
	background: #F4F4F4;
	color: #878787;
	border: 1px outset #FFF;
}

input[type="button"]:hover {
	border: 1px inset #1A8ACC;
}

TEXTAREA.auto{
	width: 100%;
}
TEXTAREA.s40{
	height: 40;
}

TEXTAREA.s50{
	height: 50;
}

TEXTAREA.s60{
	height: 60;
}

TEXTAREA.s70{
	height: 70;
}


/********* FORMULARIOS GRID *****/
input[type="text"].grid {
	border: 1px outset #CCC;
	height: 23px;
	padding: 2px;
	
  	background-image: url(../images/background_strong.png);
	background-repeat: repeat; 
	
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;	
	box-shadow: 3px 3px 3px #888;
	
	-moz-border-radius: 3px;
	-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

input[type="text"].gridisabled {
	background: #DCDCDC;
	border: 1px outset #CCC;
	height: 23px;
	padding: 2px;
	
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;	
	box-shadow: 3px 3px 3px #888;
	
	-moz-border-radius: 3px;
	-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

input[type="text"].grid:focus {
	border: 1px dashed #1A8ACC;
}
/********** Paginacion **********/
DIV.pagination{
	position: fixed; 
	left:0px;
	right:0px;
	bottom:0px;
	height: 18px;
	background-image: -moz-linear-gradient(  top, #AEAEAE, #404040 ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#AEAEAE) ); /* for Chrome + Safari */
	border-top: 1px inset #FFF;
}
tr.pagination{
	font-weight: normal;
	font-family: verdana;
	font-size: 13px;
	color: #FFF;
}
td.pagination{
	border-top:1px inset #FFF;
	text-align: right;
	padding-right: 10px;
}

/********** GRID DATA_TABLE **********/

DIV#divgrib_header{
	position: relative;
	left: 0px;
	right: 0px;
	height: 25px;
	border: 1px solid #CCC;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-ms-border-radius-topleft: 10px;
	-ms-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; /*chrome*/
  	-webkit-border-top-right-radius: 10px; /*chrome*/
  	background-image: -moz-linear-gradient(  top, #595959, #121212 ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#121212) ); /* for Chrome + Safari */
}

.divgrid_footer{
	position: relative;
	left: 0px;
	right: 0px;
	height: 60px;
	background: #404040;
	border: 1px solid #CCC;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-ms-border-radius-bottomleft: 10px;
	-ms-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px; /*chrome*/
  	-webkit-border-bottom-right-radius: 10px; /*chrome*/
  	background-image: -moz-linear-gradient(  top, #585858, #121212 ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#121212) ); /* for Chrome + Safari */
}

.divgrid_footer_ext{
	height: 100px;
}

.divgrib_body{
	position: relative;
	left: 0px;
	right: 0px;
	height: 140px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #FFF;
}

.divgrib_body_ext{
	height: 160px;
}

TABLE#tableheadergrid{
	margin-left: 0px;
	position: absolute;
	bottom: 0px;
}

TABLE#tablefootergrid{
	width: 100%;
	margin-left: 0px;
	position: relative;
	top: 0px;
}

TABLE#tablegrid{
	margin-left: 0px;
	background: #FFF;
}

TD.rowgrid_par{
	background: #FFF;
	color: #000;
	font-family: verdana;
	font-size: 12px;
	height: 25px;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
}

TD.rowgrid_impar{
	background: #B5CED7;
	color: #000;
	font-family: verdana;
	font-size: 12px;
	height: 25px;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
}

TD.gridColTitle{
	color: #FFF;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	padding-left:3px;
	border:0px solid #FFF;
}

TD.gridColTitleSuper{
	color: #FFF;
	font-family: verdana;
	font-size: 15px;
	font-weight: bold;
	padding:7px 3px;
}

.addButtonGrid{
	position: absolute;
	top: 0;
	left: 0;
	height: 55px;
}

.addButtonGrid_ext{
	left: 0;
	height: 96px;
}

.addButtonGrid:hover{
	cursor: pointer;
	border: 2px outset #FFF;
	background-image: -moz-linear-gradient(  top, #A2EFAF, #0AD92C ); /* for Firefox */
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#A2EFAF), to(#0AD92C) ); /* for Chrome + Safari */
}


.text-number{
	text-align:right;
	padding-right: 2px;
}

/********** Thumbnails **********/
img#thumbnail{
	width: 128px;
	height: 100px;
	border: 1px solid #CCC;
}

table#thumbnail {	
	border: 1px solid #000;
	float: left;
	margin: 10 10;
}

td#thumbnail_img {
	width: 60px;
	height: 100px;
}

td#thumbnail {
	text-align:center;
	font-size: 12px;
	color: #000;
}

/********** Bloque de elementos **********/
div.items {
	float: center;
	left: 5px;
	right: 5px;
	width: 100%;
	padding: 0 0;
	border:1px solid #CCC;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow-y: scroll;
}

/********** Basicos **********/
.left {	text-align:left;}
.right { text-align:right;}
.center { text-align:center;}
.text10 {font-size: 10px;}
.text11 {font-size: 11px;}
.text12 {font-size: 12px;}
.text13 {font-size: 13px;}
.text14 {font-size: 14px;}
.size25{width:25px;}
.size50{width:50px;}
.size75{width:75px;}
.size100{width:100px;}
.size125{width:125px;}
.size150{width:150px;}
.size200{width:200px;}
.size250{width:250px;}