body {
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: #fff;
	text-align: left;
	font-size: 12px;
}

#title{
	background-color: #404040;
	color: #fff;
	height: 50;
	font-weight: bold;
	background-image: url(images/desktop.png);
	background-repeat: no-repeat;
	background-position:right center;
	padding-left: 10px;
}

#verticalmiddle{
	position:relative; 
	top:10;
}

.text {
	padding: 5px 10px;
	color:#999;
	line-height:12px;	
}